body {
  color: #333;
  background-color: #f9f9f9;
  font-size: 0.875em;
}

.page {
  width: 85%;
  background-color: rgba(17, 104, 153, 0.3);
  margin: 1em auto;
  padding: 0em;
  border: 1px solid #333;
}

.partial {
  background-color: rgba(83, 161, 204, 0.3);
  margin: 1em;
  border: 1px solid #333;
}

p {
  margin: 0;
  padding: 0.5em;
}

.header {
  background-color: rgba(0, 0, 0, 0.1);
  font-family: 'Source Code Pro';
  padding: 0.4em;
  border-bottom: 1px solid #333;
}